# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# .env
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/scrapify?schema=public"
# NODE_ENV = "development"
DEVELOPMENT_MODE = false

# Portal URLs
EPROCURE_HOST_BASE_URL="https://eprocure.gov.in";
EPROCURE_BY_ORG_HOST_TAIL_URL="/eprocure/app?page=FrontEndTendersByOrganisation&service=page";

# GEM CPPP Portal URLs
GEM_CPPP_HOST_BASE_URL="https://etenders.gov.in"
GEM_CPPP_BY_ORG_HOST_TAIL_URL="/eprocure/app?page=FrontEndTendersByOrganisation&service=page"

# GEM CPPP PORTAL DATA URL
GEM_CPPP_DATA_HOST_BASE_URL="https://eprocure.gov.in";
GEM_CPPP_DATA_BY_ORG_HOST_TAIL_URL="/cppp/resultoftendersnew/cpppdata";